In [1]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

In [31]:
path = "./data_cleaned.csv"
data = pd.read_csv(path)

In [32]:
data

,type,district,timestamp,duration_hour
0,['สะพาน'],สาทร,2021-09-26 05:03:52.594898+00:00,6068.222133
1,['ความสะอาด'],ประเวศ,2021-12-18 14:50:52.437512+00:00,4264.762677
2,['ท่อระบายน้ำ'],ประเวศ,2021-12-22 10:15:33.294829+00:00,4322.942139
3,['ความสะอาด'],ประเวศ,2021-12-28 03:59:06.003252+00:00,4706.848976
4,['สะพาน'],สาทร,2022-01-16 11:08:54.141813+00:00,3788.966330
...,...,...,...,...
103697,['ทางเท้า'],ราษฎร์บูรณะ,2023-05-16 11:13:58.680742+00:00,3.145034
103698,['ทางเท้า'],ราษฎร์บูรณะ,2023-05-16 11:16:13.611590+00:00,3.082024
103699,['ทางเท้า'],ราษฎร์บูรณะ,2023-05-16 11:18:30.176726+00:00,3.024274
103700,['ทางเท้า'],คลองเตย,2023-05-16 11:18:43.661156+00:00,2.218895
103701,['กีดขวาง'],ราษฎร์บูรณะ,2023-05-16 11:19:11.354931+00:00,2.986542

In [33]:
data.type.value_counts()

['ถนน']            24749
['ทางเท้า']        12670
['ความสะอาด']      11529
['น้ำท่วม']        10316
['แสงสว่าง']        6770
['กีดขวาง']         6238
['ท่อระบายน้ำ']     5535
['จราจร']           3707
['เสียงรบกวน']      3434
['ความปลอดภัย']     3149
['ต้นไม้']          2761
['สะพาน']           2531
['สายไฟ']           2424
['ป้าย']            2294
['คลอง']            2114
['สัตว์จรจัด']      1374
['ร้องเรียน']        868
['คนจรจัด']          282
['PM2.5']            276
['เสนอแนะ']          242
['สอบถาม']           165
['การเดินทาง']       104
['ป้ายจราจร']         97
['ห้องน้ำ']           73
Name: type, dtype: int64

In [ ]:
nominal_columns = ["type",""]

In [36]:
dummy_df = pd.get_dummies(data[nominal_columns], drop_first=False)

,type,district,timestamp,duration_hour
0,['สะพาน'],สาทร,2021-09-26 05:03:52.594898+00:00,6068.222133
1,['ความสะอาด'],ประเวศ,2021-12-18 14:50:52.437512+00:00,4264.762677
2,['ท่อระบายน้ำ'],ประเวศ,2021-12-22 10:15:33.294829+00:00,4322.942139
3,['ความสะอาด'],ประเวศ,2021-12-28 03:59:06.003252+00:00,4706.848976
4,['สะพาน'],สาทร,2022-01-16 11:08:54.141813+00:00,3788.966330
...,...,...,...,...
103697,['ทางเท้า'],ราษฎร์บูรณะ,2023-05-16 11:13:58.680742+00:00,3.145034
103698,['ทางเท้า'],ราษฎร์บูรณะ,2023-05-16 11:16:13.611590+00:00,3.082024
103699,['ทางเท้า'],ราษฎร์บูรณะ,2023-05-16 11:18:30.176726+00:00,3.024274
103700,['ทางเท้า'],คลองเตย,2023-05-16 11:18:43.661156+00:00,2.218895
103701,['กีดขวาง'],ราษฎร์บูรณะ,2023-05-16 11:19:11.354931+00:00,2.986542

In [35]:
df

,duration_hour,type_['การเดินทาง'],type_['กีดขวาง'],type_['คนจรจัด'],type_['คลอง'],type_['ความปลอดภัย'],type_['ความสะอาด'],type_['จราจร'],type_['ต้นไม้'],type_['ถนน'],...,timestamp_2023-05-16 03:43:38.104542+00:00,timestamp_2023-05-16 04:17:07.293596+00:00,timestamp_2023-05-16 06:14:19.297170+00:00,timestamp_2023-05-16 09:28:31.609565+00:00,timestamp_2023-05-16 11:00:51.836523+00:00,timestamp_2023-05-16 11:13:58.680742+00:00,timestamp_2023-05-16 11:16:13.611590+00:00,timestamp_2023-05-16 11:18:30.176726+00:00,timestamp_2023-05-16 11:18:43.661156+00:00,timestamp_2023-05-16 11:19:11.354931+00:00
0,6068.222133,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4264.762677,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4322.942139,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4706.848976,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3788.966330,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103697,3.145034,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
103698,3.082024,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
103699,3.024274,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
103700,2.218895,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
103701,2.986542,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [5]:
data_df

,district_คลองสามวา,district_คลองเตย,district_คันนายาว,district_จตุจักร,district_จอมทอง,district_ดอนเมือง,district_ดินแดง,district_ดุสิต,district_ตลิ่งชัน,district_ทวีวัฒนา,...,district_วัฒนา,district_สวนหลวง,district_สะพานสูง,district_สัมพันธวงศ์,district_สาทร,district_สายไหม,district_หนองจอก,district_หนองแขม,district_หลักสี่,district_ห้วยขวาง
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154403,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
154404,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
154405,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
154406,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
154407,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:

model = GridSearchCV(estimator=RandomForestRegressor(),param_grid=dict(criterion=['gini','entropy'],max_depth=[2,3,6],min_samples_leaf=[2,5,10],
    n_estimators=[100,200], random_state=[2020]),scoring='f1_weighted',cv=5,n_jobs=-1
)