In [216]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import numpy as np
from sklearn import metrics
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

In [217]:
path = "./data_cleaned.csv"
data = pd.read_csv(path)

In [218]:
nominal_columns = ["type","district"]

In [219]:
dummy_df = pd.get_dummies(data[nominal_columns], drop_first=False) 
data_df = pd.concat([data, dummy_df], axis=1)
data_df = data_df.drop(nominal_columns, axis=1)

In [220]:
data

,type,district,timestamp,duration_hour
0,['สะพาน'],สาทร,2021-09-26 05:03:52.594898+00:00,6068.222133
1,['ความสะอาด'],ประเวศ,2021-12-18 14:50:52.437512+00:00,4264.762677
2,['ท่อระบายน้ำ'],ประเวศ,2021-12-22 10:15:33.294829+00:00,4322.942139
3,['ความสะอาด'],ประเวศ,2021-12-28 03:59:06.003252+00:00,4706.848976
4,['สะพาน'],สาทร,2022-01-16 11:08:54.141813+00:00,3788.966330
...,...,...,...,...
103697,['ทางเท้า'],ราษฎร์บูรณะ,2023-05-16 11:13:58.680742+00:00,3.145034
103698,['ทางเท้า'],ราษฎร์บูรณะ,2023-05-16 11:16:13.611590+00:00,3.082024
103699,['ทางเท้า'],ราษฎร์บูรณะ,2023-05-16 11:18:30.176726+00:00,3.024274
103700,['ทางเท้า'],คลองเตย,2023-05-16 11:18:43.661156+00:00,2.218895
103701,['กีดขวาง'],ราษฎร์บูรณะ,2023-05-16 11:19:11.354931+00:00,2.986542

In [221]:
y = data_df.pop('duration_hour')
X = data_df.drop("timestamp",axis = 1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2020)

In [222]:
print(X_train.shape)
print(X_test.shape)
print(y_test.shape)
print(y_train.shape)

(82961, 74)
(20741, 74)
(20741,)
(82961,)

In [223]:
from sklearn.metrics import mean_squared_error

In [247]:
# param_grid = {
#     'bootstrap': [True,False],
#     'max_depth': [40,60,80],
#     'max_features': [10,20],
#     'min_samples_leaf': [3,4,5],
#     'min_samples_split': [12,24,36],
#     'n_estimators': [120,200,400]
# }
# model = GridSearchCV(estimator=RandomForestRegressor(),param_grid= param_grid,cv=3,n_jobs=-1,verbose= 2)

In [ ]:
model.fit(X_train, y_train)

In [249]:
print('Best param is')
print(model.best_params_)

Best param is
{'bootstrap': False, 'max_depth': 40, 'max_features': 10, 'min_samples_leaf': 3, 'min_samples_split': 36, 'n_estimators': 120}

In [254]:
model_RF = RandomForestRegressor(bootstrap = False, max_depth = 40, max_features = 10, min_samples_leaf = 3, min_samples_split = 36, n_estimators = 120)

In [255]:
model_RF.fit(X_train, y_train)

RandomForestRegressor(bootstrap=False, max_depth=40, max_features=10,
                      min_samples_leaf=3, min_samples_split=36,
                      n_estimators=120)

In [256]:
predictions = model_RF.predict(X_test)

In [257]:
print('MAE:', metrics.mean_absolute_error(y_test, predictions))
print('MSE:', metrics.mean_squared_error(y_test, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

MAE: 1005.2393667588988
MSE: 2108252.3864529743
RMSE: 1451.9822266312265

In [258]:
print(predictions[:20])

[1110.92103373 1544.70069247  454.91804964  273.32528708  682.45927863
 2190.54553336  436.12810217  586.22959781 2248.02082229 2796.89860679
  572.01761185  572.01761185  581.81408261 2190.54553336 1036.57598612
 1055.92929108  924.80872431 3042.02677903 1102.61880087 1798.9529583 ]

In [234]:
type(predictions)

numpy.ndarray

In [235]:
np.std(predictions)

828.1250066290092

In [236]:
df_pred = pd.DataFrame(predictions)

In [237]:
df_pred

                 0
0      1192.888903
1      1536.405063
2       419.329650
3       258.998648
4       676.800913
...            ...
20736   394.721760
20737   119.885143
20738  1308.849264
20739   713.351231
20740   765.619827

[20741 rows x 1 columns]

In [239]:
type(y_test)

pandas.core.series.Series

In [240]:
y_test_df = y_test.to_frame()

In [241]:
y_test_df

        duration_hour
69643      626.704563
57763     1495.540571
46397        0.557962
100579      89.882611
101957       1.409865
...               ...
21750       17.964826
94209       33.775407
37746      122.782391
32736      479.500270
44901     4297.626306

[20741 rows x 1 columns]